.table {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 15px;

  // .table__head

  &__head {
    margin-bottom: 16px;

    span {
      font-size: 14px;
    }
  }

  // .table__body

  &__body {
    overflow: hidden;
  }

  // .table__row

  &__row {
    background-color: theme-color("white");

    span {
      font-size: 14px;
    }

    &:nth-of-type(2n) {
      background-color: theme-color("light-gray2");
    }
  }

  // .table__img

  &__img {
    width: 100%;
    max-width: 140px;

    img {
      width: 100%;
    }
  }
}
