.create-gost {
  .main-content {
    justify-content: space-between;
  }
  .container--admin {
    @media (max-width: 991px) {
      overflow: hidden;
    }
    @media (max-width: 575px) {
      padding: 0 !important;
    }
    .back-title {
      @media (max-width: 991px) {
        margin-left: 16px;
        padding-top: 18px;
      }
    }
  }
  .main {
    position: relative;
    z-index: -1;
  }
  .question {
    i {
      display: inline-block;
      transform: scale(0.9);
      position: relative;
      top: 5px;
    }
  }
  .button-create-goss {
    display: none;
    width: 100%;
    max-width: 328px;
    margin: 24px auto 0;
    @media (max-width: 991px) {
      display: flex;
    }
  }
  .overview {
    b,
    strong {
      font-weight: 500;
    }
  }
  &.posts {
    .aside-right {
      .ps__rail-y {
        right: 6px;
        margin: 6px 0;
      }
      @media (min-width: 992px) {
        max-width: 360px !important;
        &.ps {
          overflow: inherit !important;
        }
      }

      @media (max-width: 575px) {
        max-width: 100% !important;
        padding: 0 !important;
      }
    }
  }
  .mini-post__info {
    @media (max-width: 1360px) {
      max-width: 293px;
    }
    @media (max-width: 1199px) {
      max-width: 239px;
    }
  }
  .section-content__title {
    @media (max-width: 575px) {
      padding-left: 16px !important;
    }
  }
  .aside-right {
    @media (max-width: 1124px) {
      padding-left: 0 !important;
    }
    @media (max-width: 991px) {
      padding-left: 0 !important;
      margin-bottom: 17px;
      position: fixed;
      left: 0;
      right: 0;
      max-width: 100% !important;
      background: #fff;
      top: 70px;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s;
      max-height: 100vh;
      &.show {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .select-before {
    @media (max-width: 575px) {
      max-width: 100%;
    }
  }
  .main {
    max-width: 690px !important;
    .section-content {
      > span {
        color: theme-color("silver");
        font-size: 12px;
        letter-spacing: 0.86px;
        line-height: 23px;
        text-transform: uppercase;
        display: inline-block;
        margin: 17px 0 12px;
        padding-left: 20px;
        &:first-of-type {
          margin-top: 0;
          @media (max-width: 575px) {
            padding-left: 15px;
          }
        }
        @media (max-width: 575px) {
          padding-left: 32px;
        }
      }
    }
  }
  .overview {
    @media (max-width: 1260px) {
      flex-direction: column-reverse;
    }
    &__full {
      position: relative;
      z-index: -1;
      min-width: 272px;
      max-width: 272px;
      min-height: 100%;
      height: 392px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: theme-color("white");
      padding: 22px 20px;
      margin-right: 32px;
      @media (max-width: 575px) {
        margin: 0 15px !important;
      }
      @media (max-width: 1260px) {
        max-width: 100%;
        min-height: 378px;
        height: auto;
        margin-right: 0;
      }
      .reaction__list-icon {
        cursor: auto;
      }
      &--item {
        color: theme-color("dark-blue");
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 22px 20px;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        border-radius: 8px;
        &.show {
          opacity: 1;
          pointer-events: auto;
        }
        h3 {
          font-size: 24px;
          margin-bottom: 8px;
          font-weight: 500;
          line-height: 24px;
        }
        span {
          font-size: 16px;
          display: inline-block;
          margin-bottom: 35px;
        }
        p {
          font-size: 14px;
        }
        ul {
          margin-left: auto;
          .reaction__pop {
            bottom: -104px;
            &::before {
              top: -9px;
            }
          }
          .smile {
            li {
              margin-bottom: 0 !important;
              &:last-of-type {
                margin-right: 0 !important;
              }
            }
          }
          li:not(.reaction__item-icon) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 14px;
            .smile {
              margin-left: auto;
              margin-right: 8px;
            }
            span {
              margin-bottom: 0;
            }
          }
        }
        &:nth-child(1) {
          background-color: #fff;
        }
        &:nth-child(2) {
          background-color: #fffaf4;
        }
        &:nth-child(3) {
          background-color: #f4f8ff;
        }
        &:nth-child(4) {
          background-color: #f9fff8;
        }
        &:nth-child(5) {
          background-color: #fdf7ff;
          margin-bottom: 0;
        }
        &:nth-child(6) {
          background-color: #f7ffff;
          margin-bottom: 0;
        }
      }
    }
    &__select {
      @media (max-width: 1260px) {
        margin-bottom: 16px;
      }
      @media (max-width: 575px) {
        justify-content: flex-start;
        padding: 0 15px;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 12px;
      width: 120px;
      height: 120px;
      box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      border: 2px solid transparent;
      cursor: pointer;
      margin-right: 16px;
      margin-bottom: 16px;
      @media (max-width: 1260px) {
        margin-right: 16px !important;
      }
      @media (max-width: 575px) {
        width: 104px;
        height: 104px;
        margin-right: 8px !important;
      }
      @media (max-width: 400px) {
        width: 32%;
        height: 104px;
        margin-right: 6px !important;
        padding: 12px 0 12px 6px;
        &:nth-child(3n + 3) {
          margin-right: 0 !important;
        }
      }
      strong {
        color: theme-color("dark-blue");
        font-weight: 500;
        font-size: 20px;
      }
      span {
        color: theme-color("dark-blue");
        font-size: 16px;
      }
      &:nth-child(1) {
        background-color: #fff;
      }
      &:nth-child(2) {
        background-color: #fffaf4;
      }
      &:nth-child(3) {
        background-color: #f4f8ff;
      }
      &:nth-child(4) {
        background-color: #f9fff8;
      }
      &:nth-child(5) {
        background-color: #fdf7ff;
        margin-bottom: 0;
      }
      &:nth-child(6) {
        background-color: #f7ffff;
        margin-bottom: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      &.active {
        border: 2px solid #f77d0e;
      }
    }
  }
  .goos {
    @media (max-width: 575px) {
      padding: 0 15px;
    }
    .goos__not-found {
      display: none;
    }
    &--not {
      .goos__not-found {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 240px;
      }
      h3 {
        color: theme-color("blue2");
        font-weight: $font-weight-medium;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        margin: 20px 0 35px;
      }
    }
  }
  //mini post
  .mini-post {
    border-radius: 8px;
    width: 100%;
    height: 72px;
    box-shadow: 2px 2px 4px 1px rgba(11, 2, 18, 0.08);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    @media (max-width: 1124px) {
      height: 144px;
      flex-direction: column;
      align-items: flex-start;
    }
    &__info {
      @media (min-width: 991px) and (max-width: 1260px) {
        width: calc(100% - 120px);
      }
    }
    &__img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 72px;
      max-width: 72px;
      height: 72px;
      background-color: #f4f8ff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px 0 0 8px;
      margin-right: 12px;
      @media (max-width: 575px) {
        min-width: 72px;
        border-radius: 8px 0 8px 0;
        margin-right: 8px;
      }
      span {
        color: #99a9c9;
        font-size: 24px;
        font-weight: 400;
        line-height: 18px;
      }
    }
    &__badge {
      position: absolute;
      top: 4px;
      left: 4px;
      min-width: 45px;
      height: 24px;
      border-radius: 3px;
      background-color: #fff;
      padding: 0 4px;
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
      span {
        color: #828282;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &__link {
      display: flex;
    }
    &__title {
      @media (max-width: 575px) {
        padding-right: 40px;
        padding-top: 12px;
      }
      a {
        color: #0b0212;
        font-size: 18px;
        letter-spacing: 0.64px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 1px;
        width: 310px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (min-width: 991px) and (max-width: 1260px) {
          width: calc(100% - 35%);
        }
        @media (max-width: 1199px) {
          max-width: 49%;
        }
        @media (max-width: 1124px) {
          max-width: 250px;
          width: 100%;
        }
        @media (max-width: 575px) {
          width: 220px;
        }
      }
    }
    &__other {
      @media (max-width: 1124px) {
        width: 100%;
        .mini-post__options {
          margin-left: auto !important;
        }
      }
    }
    &__link {
      a {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        &:first-of-type {
          color: #0b0212;
          margin-right: 6px;
        }
        &:nth-of-type(2) {
          color: #828282;
        }
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 16px;
      @media (max-width: 1124px) {
        margin-right: 0;
        margin-left: 84px;
        margin-bottom: 16px;
      }
      span {
        color: #828282;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &__reaction {
      display: flex;
      justify-content: flex-end;
      position: relative;
      &:hover {
        .reaction__pop {
          opacity: 1 !important;
          pointer-events: auto !important;
        }
      }
      .smile {
        margin-right: 8px;
      }
    }
    &__comments {
      display: flex;
      justify-content: flex-end;
      @media (max-width: 575px) {
        justify-content: flex-start;
      }
      strong {
        display: inline-block;
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
        margin-right: 8px;
      }
    }
  }
}
