.store-payment {
  .title-page--admin {
    @media (max-width: 767px) {
      padding-left: 15px !important;
    }
  }
}
.store {
  &-container {
    @media (max-width: 575px) {
      padding: 0 !important;
    }
  }
  .menu-bottom {
    z-index: 99999;
  }
  .payment-title {
    color: #335491;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    margin-bottom: 24px;
    text-transform: uppercase;
    @media (max-width: 575px) {
      font-size: 12px;
    }
  }
  &-payment {
    @media (max-width: 1260px) {
      flex-direction: column;
    }
    .payment-header,
    .section-content__title {
      @media (max-width: 767px) {
        padding-left: 16px !important;
      }
    }

    .line-height {
      padding-top: 7px;
      padding-bottom: 9px;
    }
    .sort-box {
      @media (max-width: 575px) {
        margin-right: 16px;
        margin-left: 16px;
      }
      .sort-box {
        @media (max-width: 575px) {
          margin: 0 !important;
        }
      }
    }
    .sort-box__line {
      padding-bottom: 40px !important;
    }
    &__mob-link {
      @media (max-width: 767px) {
        width: 100%;
        justify-content: flex-end;
        margin-top: 15px;
      }
    }
    b {
      font-weight: 500 !important;
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }

    .main {
      width: 70% !important;
      h1 {
        @media (max-width: 1260px) {
          display: none;
        }
      }
      @media (max-width: 1430px) {
        width: 70% !important;
      }
      @media (max-width: 1280px) {
        margin-right: 20px;
      }
      @media (max-width: 1260px) {
        width: 100% !important;
        order: 2;
      }
    }
    .aside-right {
      @media (max-width: 991px) {
        margin-bottom: 0 !important;
      }
      .form__label {
        @media (max-width: 575px) {
          padding: 0 !important;
        }
      }
      .result {
        padding-left: 16px;
        color: #0b0212;
        font-size: 16px;
        font-weight: 400;
        @media (max-width: 575px) {
          padding: 0 !important;
        }
      }
      .scroll-div {
        @media (max-width: 575px) {
          margin: 0 !important;
        }
      }
      @media (max-width: 1430px) {
        width: 30% !important;
        max-width: 300px;
        padding-left: 0 !important;
      }
      @media (max-width: 1260px) {
        width: 100% !important;
        max-width: 700px;
        margin-bottom: 24px;
      }
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }
    &__transaction {
      margin-top: 45px;
      @media (max-width: 767px) {
        max-width: 686px;
      }
      &-line {
        ul {
          @media (max-width: 767px) {
            justify-content: space-between;
          }
        }
        li {
          color: #0b0212;
          font-size: 16px;
          font-weight: 400;
          @media (max-width: 767px) {
            min-width: 0 !important;
            max-width: 100% !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
          @media (max-width: 575px) {
            font-size: 14px;
          }
          &:first-child {
            min-width: 95px;
            max-width: 95px;
          }
          &:nth-child(2) {
            margin-left: 17px;
            min-width: 63px;
            max-width: 63px;
          }
          &:nth-child(3) {
            margin-left: 18px;
            min-width: 100px;
            max-width: 100px;
          }
          &:nth-child(4) {
            min-width: 70px;
            max-width: 70px;
            margin-right: 15px;
          }
          &:nth-child(5) {
            min-width: 162px;
            max-width: 162px;
            font-size: 14px !important;

            @media (max-width: 767px) {
              display: none;
            }
          }
          &:nth-child(6) {
            margin-left: 50px;
          }
        }
      }
      li {
        z-index: 9999;
      }
      &-header {
        display: flex;
        @media (max-width: 767px) {
          justify-content: space-between;
        }
        margin-bottom: 20px;
        span {
          color: #828282;
          font-size: 16px;
          font-weight: 400;
          @media (max-width: 767px) {
            min-width: 0 !important;
            max-width: 100% !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
          @media (max-width: 575px) {
            font-size: 14px;
          }

          &:first-child {
            text-align: left;
            min-width: 95px;
            max-width: 95px;
          }
          &:nth-child(2) {
            text-align: right;
            margin-left: 11px;
            min-width: 63px;
            max-width: 63px;
            margin-right: 7px;
            @media (max-width: 767px) {
              margin-left: 23px !important;
            }
          }
          &:nth-child(3) {
            margin-left: 33px;
            min-width: 100px;
            max-width: 100px;
            @media (max-width: 767px) {
              margin-right: 7px !important;
            }
          }
          &:nth-child(4) {
            min-width: 40px;
            max-width: 40px;
            text-align: right;
            @media (max-width: 767px) {
              margin-right: 8px !important;
            }
          }
          &:nth-child(5) {
            min-width: 163px;
            max-width: 162px;
            margin-left: 30px;
            @media (max-width: 767px) {
              display: none;
            }
          }
          &:nth-child(6) {
            margin-left: 68px;
          }
        }
      }
    }
    .line-gray {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 685px;
        height: 24px;
        background-color: #f8f9fb;
        z-index: 1;
        right: -19px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 685px;
        height: 24px;
        top: 0;
        background-color: #f8f9fb;
        z-index: 1;
        left: -19px;
      }
    }
    &__events {
      margin-top: 45px;
      .line-gray {
        @media (max-width: 991px) {
          margin-top: 8px;
        }
        &::before,
        &::after {
          @media (max-width: 991px) {
            height: 50px;
          }
          @media (max-width: 575px) {
            height: 74px;
          }
        }
      }

      &-line {
        display: flex;
        ul {
          width: 100%;
          justify-content: space-between;
          @media (max-width: 991px) {
            flex-direction: column;
            width: 100%;
          }
        }
        li {
          font-size: 16px;
          z-index: 9999;
          color: #0b0212;
          &:first-child {
            margin-right: 5px;
          }
          &:nth-child(2) {
            @media (max-width: 991px) {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
    .text-opacity {
      color: #828282;
      font-size: 16px;
      font-weight: 400;
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
    &__cba {
      margin-bottom: 24px;
      p {
        &:first-child {
          margin-right: 12px;
        }
        &:nth-child(2) {
          margin-right: 8px;
        }
      }
    }
    &__summary {
      margin-top: 40px;
      .table-span {
        display: none;
        @media (max-width: 767px) {
          display: flex;
          min-width: 15px !important;
        }
      }
      &-line {
        ul {
          @media (max-width: 767px) {
            justify-content: space-between;
          }
        }
        li {
          color: #0b0212;
          font-size: 16px;
          font-weight: 400;
          z-index: 9999;
          @media (max-width: 640px) {
            min-width: 60px !important;
            max-width: 60px !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            text-align: right !important;
          }
          @media (max-width: 575px) {
            font-size: 14px;
          }
          &:first-child {
            min-width: 232px;
            @media (max-width: 991px) {
              min-width: 257px;
            }
            @media (max-width: 740px) {
              min-width: 161px;
            }
          }
          &:nth-child(2) {
            min-width: 46px;
            text-align: right;
          }
          &:nth-child(3) {
            min-width: 118px;
            text-align: right;
          }
          &:nth-child(4) {
            min-width: 91px;
            text-align: right;
            margin-right: 73px;
          }
          &:nth-child(5) {
            text-align: right;
            margin-left: auto;
            min-width: 58px;
            @media (max-width: 991px) {
              min-width: 80px;
            }
          }
        }
      }

      &-header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        @media (max-width: 740px) {
          justify-content: space-between;
        }

        span {
          color: #828282;
          font-size: 16px;
          font-weight: 400;

          &:first-child {
            min-width: 50px;
            margin-right: 70px;
            @media (max-width: 740px) {
              margin-left: 161px;
              margin-right: 20px;
            }
            @media (max-width: 640px) {
              margin-left: 145px;
              margin-right: 0;
            }
            @media (max-width: 610px) {
              margin-left: 133px;
            }
            @media (max-width: 500px) {
              margin-left: 26%;
            }
          }
          &:nth-child(2) {
            min-width: 50px;
            margin-right: 45px;
            @media (max-width: 740px) {
              margin-right: 0;
            }
          }
          &:nth-child(3) {
            min-width: 50px;
            margin-right: 110px;
            @media (max-width: 740px) and (min-width: 685px) {
              margin-right: 130px;
            }
            @media (max-width: 640px) {
              margin-right: 0;
            }
          }
        }
      }
    }
    &__details {
      margin-top: 17px;
      ul {
        li {
          color: #0b0212;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 15px;
          &.flag {
            img {
              margin-right: 8px;
            }
          }
        }
        &:first-child {
          margin-right: 50px;
        }
      }
      p {
        color: #0b0212;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 0;
        b {
          color: #0b0212;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
    &__descript-main {
      padding-left: 20px;
      margin-top: 24px;
      margin-bottom: 16px;
      @media (max-width: 991px) {
        padding-bottom: 16px;
        margin: auto;
        max-width: 711px;
      }

      ul {
        @media (max-width: 575px) {
          justify-content: space-between;
          padding-right: 20px;
        }
      }
      li {
        color: #828282;
        font-size: 14px;
        font-weight: 400;
        @media (max-width: 575px) {
          padding: 0 !important;
        }

        &:first-child {
          padding-right: 143px;
        }
        &:nth-child(2) {
          padding-right: 72px;
          @media (max-width: 991px) {
            padding-right: 72px;
          }

          @media (max-width: 575px) {
            display: none;
          }
        }
        &:nth-child(3) {
          padding-right: 47px;

          @media (max-width: 575px) {
            margin-left: 147px;
          }
          @media (max-width: 370px) {
            margin-left: 141px;
          }
        }
        &:nth-child(4) {
          padding-right: 27px;
          @media (max-width: 767px) {
            padding-right: 30px;
          }
          @media (max-width: 575px) {
            margin-left: 36px;
          }
        }
        &:nth-child(5) {
          padding-right: 85px;
          @media (max-width: 991px) {
            padding-right: 100px;
          }
          @media (max-width: 767px) {
            padding-right: 105px;
          }
          @media (max-width: 700px) {
            padding-right: 71px;
          }
          @media (max-width: 670px) {
            padding-right: 30px;
          }
        }
        &:last-child {
          @media (max-width: 620px) {
            display: none;
          }
        }
      }
    }
    &__table {
      max-width: 711px;
      box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      padding: 13px 20px 13px 20px;
      @media (max-width: 991px) {
        margin: auto auto 8px;
      }
      &:first-child {
        margin-top: 16px;
      }
      margin-bottom: 8px;
    }
    &__hide {
      margin-top: 25px;
    }
    &__toggle {
      position: relative;
      justify-content: space-between;
      @media (max-width: 991px) {
        justify-content: flex-start;
      }
      @media (max-width: 767px) {
        flex-direction: column;
      }
      .table__check-cell {
        @media (max-width: 991px) and (min-width: 767px) {
          margin-right: 74px;
        }
        @media (max-width: 380px) {
          right: 6px;
        }
        span {
          padding-right: 0 !important;
          min-width: 80px !important;
        }
      }
      .d-flex {
        &:first-child {
          @media (max-width: 575px) {
            justify-content: space-between;
          }
        }
      }
      &.btn-active {
        button {
          img {
            transform: rotate(180deg);
          }
        }
      }
      .btn-blue-link {
        color: #335491;
        font-size: 14px;
      }
      button {
        display: flex;
        padding-top: 4px;
        padding-left: 24px;
        @media (max-width: 575px) {
          padding-right: 7px;
        }
        @media (max-width: 390px) {
          padding-right: 0;
        }
      }
      p,
      span {
        color: #0b0212;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
        span {
          padding-right: 0 !important;
          @media (max-width: 575px) {
            display: none;
          }
        }
        @media (max-width: 575px) {
          padding: 0 !important;
        }
        b {
          color: #0b0212;
          font-weight: 500;
          font-size: 14px;
        }
        &:nth-child(1) {
          padding-right: 33px;
          min-width: 170px;
          @media (max-width: 370px) {
            min-width: 160px;
          }
        }
        &:nth-child(2) {
          padding-right: 35px;
          min-width: 120px;
          @media (max-width: 575px) {
            display: none;
          }
        }
        &:nth-child(3) {
          min-width: 75px;
        }
        &:nth-child(4) {
          padding-right: 26px;
          min-width: 84px;
          @media (max-width: 991px) {
            padding-right: 53px;
          }
        }
      }
    }
    .table__check-cell {
      position: relative;
      padding-left: 20px;
      padding-right: 21px;
      @media (max-width: 767px) {
        padding-right: 0;
      }
      @media (max-width: 390px) {
        right: 13px;
        padding: 0;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid transparent;
        top: 37%;
        transform: translateY(-50%);
      }
    }
    .table__check-cell--green {
      &::before {
        border-color: theme-color("green2");
      }
    }

    // .table__check-cell--yellow

    .table__check-cell--yellow {
      &::before {
        border-color: theme-color("orange3");
      }
    }

    // .table__check-cell--active

    .table__check--active {
      &::before {
        border-width: 6px;
      }
    }
    &__descript {
      margin-top: 24px;
      ul {
        @media (max-width: 575px) {
          justify-content: space-between;
        }
      }

      li {
        color: #828282;
        font-size: 14px;
        font-weight: 400;
        &:first-child {
          width: 24%;
        }
        &:nth-child(2) {
          width: 21%;
        }
        &:nth-child(3) {
          width: 14%;
        }
        &:nth-child(4) {
          width: 14%;
        }
        &:nth-child(5) {
          width: 18%;
          @media (max-width: 575px) {
            width: 9%;
          }
        }
      }
    }
    .select-list {
      padding-left: 16px;
      @media (max-width: 1260px) and (min-width: 992px) {
        display: flex !important;
        max-width: 415px;
      }
    }
    main {
      display: flex;
      flex-direction: column;
      .mobile-none {
        @media (max-width: 575px) {
          display: none;
        }
      }
      .search {
        @media (max-width: 991px) {
          max-width: 100%;
          width: 100%;
        }
      }
      @media (max-width: 991px) {
        order: 2;
        margin-top: 25px;
        h1 {
          display: none;
        }
      }
    }
    .aside-right {
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      width: 27%;
      .section-content__title {
        @media (max-width: 991px) {
          padding-left: 0;
        }
        @media (max-width: 767px) {
          padding-left: 16px;
        }
        @media (max-width: 575px) {
          padding-left: 24px;
        }
      }
      h1 {
        display: none;
        @media (max-width: 767px) {
          padding-left: 16px;
        }
      }

      @media (max-width: 1260px) {
        order: 1;
        padding-top: 0;
        padding-left: 0;
        h1 {
          display: flex;
          i {
            display: block;
          }
        }
      }
    }
    .section-content__title {
      padding-left: 24px;
    }
    &__empty {
      .aside-right {
        @media (max-width: 575px) {
          .form__input,
          .form__label {
            padding-left: 10px !important;
          }
        }
      }
      .section-content__title {
        @media (max-width: 575px) {
          padding-left: 0 !important;
        }
      }
      .title-page--admin {
        @media (max-width: 575px) {
          padding-left: 0 !important;
        }
      }
      .sort-box,
      .store-payment__box {
        @media (max-width: 575px) {
          margin: 0;
        }
      }
      &-block {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          color: #35558f;
          font-size: 18px;
          font-weight: 400;
          margin-top: 24px;
        }
      }
    }
    &__links {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      a {
        max-width: 120px;
      }
    }
    &__empty-links {
      padding-left: 32px;
      margin-top: 10px;
      @media (max-width: 991px) {
        display: flex;
        justify-content: flex-end;
      }
      @media (max-width: 490px) {
        padding-left: 0;
      }
      a {
        @media (max-width: 575px) {
          max-width: 120px !important;
        }
        &:first-child {
          margin-right: 16px;
          border: 2px solid #35558f !important;
        }
      }
    }
    &__box {
      padding: 24px;
      box-shadow: 0 2px 4px 1px rgba(11, 2, 18, 0.08);
      border-radius: 8px;
      background-color: #fff;
      @media (max-width: 575px) {
        margin-right: 16px;
        margin-left: 16px;
      }
      .form__single {
        margin-bottom: 16px !important;
      }
    }
  }
}
